<%- include('partials/prologue.ejs', {title: `${profile.name} MBTI | Boo Personality Database`, description: `What is ${profile.name}'s MBTI personality type? Find out what ${profile.name}'s Myers Briggs, Enneagram, and Zodiac sign are in the Soulverse, the MBTI personality database of celebrities and fictional characters.`}) %>

                <div class="row sqs-row">
                  <%- include('partials/categories.ejs') %>
                  <div class="col sqs-col-10 sqs-col-page">
                    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-2e6206ba777e9c6841a8">
                      <div class="sqs-block-content">
                        <h2 class="name"><%= profile.name %> <span style="color: #4edcd8; font-weight: bold">MBTI</span>
                        </h2>
                      </div>
                    </div>
                    <div class="row sqs-row">
                      <div class="col sqs-col-photo">
                        <div class="sqs-block image-block sqs-block-image" data-aspect-ratio="136.28691983122363" data-block-type="5" id="block-1f47fbbe7cae8fdeba8c">
                          <div class="sqs-block-content">
                            <div class="image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-site-default individual-animation-site-default individual-text-animation-site-default" data-test="image-block-inline-outer-wrapper">
                              <noscript>
                                <img class="picture" src="<%= profile.image %>" alt="<%= profile.image %>" />
                              </noscript>
                              <img class="thumb-image picture" data-src="<%= profile.image %>" data-image="<%= profile.image %>" data-image-dimensions="" data-image-focal-point="0.5,0.5" alt="<%= profile.image %>" data-load="false" data-image-id="60ba7def6ab3a1722eeb654b" data-type="image" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col sqs-col-trait">
                        <div class="row sqs-row">
                          <div class="col sqs-col-sub-trait">
                            <div class="trait">
                              <p class="center" style="height: 25%; line-height: 1">MBTI</p>
                              <p class="trait-font center" style="height: 40%"><%= profile.mbti %></p>
                            </div>
                          </div>
                          <div class="col sqs-col-sub-trait">
                            <div class="trait">
                              <p class="center" style="height: 25%; line-height: 1">Enneagram</p>
                              <p class="trait-font center" style="height: 40%"><%= profile.enneagram %></p>
                            </div>
                          </div>
                          <div class="col sqs-col-sub-trait">
                            <div class="trait">
                              <p class="center" style="height: 25%; line-height: 1">Socionics</p>
                              <p class="trait-font center" style="height: 40%"><%= profile.socionics %></p>
                            </div>
                          </div>
                          <div class="col sqs-col-sub-trait">
                            <div class="trait">
                              <p class="center" style="height: 25%; line-height: 1">Big 5 Sloan</p>
                              <p class="trait-font center" style="height: 40%"><%= profile.sloan %></p>
                            </div>
                          </div>
                          <div class="col sqs-col-sub-trait">
                            <div class="trait">
                              <p class="center" style="height: 25%; line-height: 1">Instinctual Variant</p>
                              <p class="trait-font center" style="height: 40%"><%= profile.variant %></p>
                            </div>
                          </div>
                          <div class="col sqs-col-sub-trait">
                            <div class="trait">
                              <p class="center" style="height: 25%; line-height: 1">Tritype</p>
                              <p class="trait-font center" style="height: 40%"><%= profile.tritype %></p>
                            </div>
                          </div>
                          <div class="col sqs-col-sub-trait">
                            <div class="trait">
                              <p class="center" style="height: 25%; line-height: 1">Attitudinal Psyche</p>
                              <p class="trait-font center" style="height: 40%"><%= profile.psyche %></p>
                            </div>
                          </div>
                          <div class="col sqs-col-sub-trait">
                            <div class="trait">
                              <p class="center" style="height: 25%; line-height: 1">Temperament</p>
                              <div class="trait-font-special center" style="height: 40%"><%= profile.temperaments %></div>
                              <!-- <p class="trait-font-special"><%= profile.temperaments %></p> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-8d8156722d8e328e16b8">
                      <div class="sqs-block-content">
                        <p class="" style="white-space:pre-wrap;"><%= profile.description %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

<%- include('partials/epilogue.ejs') %>
